@tailwind base;
@tailwind components;
@tailwind utilities;

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}
.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}
.gutter.gutter-horizontal:hover {
    background: blue;
}
.gutter.gutter-vertical:hover {
    background: blue;
}
#main{
    margin: 0px;
    background: rgb(255 255 255/var(--tw-text-opacity));
}